.container-modulo-poliza {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}
.body-poliza {
  display: flex;
  justify-content: space-between;
}
.separacion-containt {
  padding: 50px 0px;
}
.cont-info-car-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 30px;
}
.car-poliza {
  font-size: 50px;
}
.line {
  border-left: 1px solid black;
  height: 70px;
}
.info-car-front {
  display: flex;
  align-items: center;
  column-gap: 30px;
  text-align: start;
  line-height: 25px;
}
.placa-name {
  font-weight: 600;
}
.select-cobertura {
  border: 1px solid rgb(190, 190, 190);
  width: 80px;
  height: 25px;
  font-size: 14px;
}
.total-poliza {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-pagar {
  height: 60px;
  width: 400px;
  border-radius: 30px;
  font-size: 20px;
}
.pasarela-pago {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Ajusta el color y la opacidad según prefieras */
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
  display: flex;
  align-items: center;
  justify-content: center;
}
.conteiner-pago {
  padding: 20px;
  border-radius: 30px;
  background-color: #fff;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.form-pago-1{
    display: flex;
    flex-direction: column;
}
.pasarela-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pasarela-icon{
    font-size: 30px;
    padding: 5px 10px;
}
.input-pagar{
    border: none;
    border-bottom: 2px solid black;
    height: 30px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 0px 10px;
    margin: 10px 0px;
}
.input-pagar-2{
    width: 40%;
    margin: 0px 10px;
}
.pagar-poliza{
    display: flex;
    flex-direction: column;
}
.btn-poliza{
    margin: 10px 130px;
}
.pasarela-pago.show {
  display: flex; /* Mostrar la pasarela de pago cuando se añada la clase show */
}